h1 {
	font-family: Verdana;
	font-size: 16px;
	color: #804000;
}

div#slides {
height: 480px;
width: 200px;
}
div#slides a.thumb {
display:none;
}

div#slides a.default-slide {
display:block;
}

#v_mnu_01 ul {
list-style: none;
margin: 0;
padding: 0;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: bold;
text-decoration: none;
}
#v_mnu_01 {
width: 220px;
margin: 10px;
border-top-width: 0;
border-right-width: 0;
border-bottom-width: 0;
border-left-width: 0;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: ;
border-right-color: ;
border-bottom-color: ;
border-left-color: ;
}
#v_mnu_01 li a {
text-decoration: none;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: none;
border-right-style: none;
border-bottom-style: solid;
border-left-style: none;
border-bottom-color: #400000;
}
#v_mnu_01 .notopbrdr0xNone {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
#v_mnu_01 li a:link, #v_mnu_01 li a:visited {
color: #804000;
display: block;
background-color: ;
padding-top: 1px;
padding-right: 0;
padding-bottom: 1px;
padding-left: 10px;
}
#v_mnu_01 li a:hover {
color: #804000;
background: #FFCC99;
padding-top: 1px;
padding-right: 0;
padding-bottom: 1px;
padding-left: 10px;
}
div#container
{
position:relative;
width: 1100px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
text-align:left; }
body {text-align:center;margin:0}
  a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.in1 {border:1px solid #cccccc; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; height:22px;}
.ta1 {border:1px solid #cccccc; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
.bt1 {border:1px solid #cccccc; background-color:#FFCC99; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;}